@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #151111
}

.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #C779D0 20%, #FEAC5E 60%, #4bc0c8 20%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 4rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #4bc0c8;
  background: -webkit-linear-gradient(to right, #C779D0 20%, #FEAC5E 60%, #4bc0c8 20%);
  background: linear-gradient(to right, #C779D0 20%, #FEAC5E 60%, #4bc0c8 20%);
  color: white;
  text-transform: none;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #4bc0c8;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }
  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }
  #navbar__logo {
    padding-left: 25px;
  }
  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }
  .navbar__item {
    width: 100%;
  }
  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .navbar__btn {
    padding-bottom: 2rem;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }
  #calvary-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }
  #calvary-menu.yes-active .bar:nth-child(1) {
    transform: translateY(9px) rotate(46deg);
  }
  #calvary-menu.yes-active .bar:nth-child(2) {
    opacity: 0;
  }
  #calvary-menu.yes-active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-46deg);
  }
}


/*about us*/

.main {
  background: #000000;
  background: linear-gradient(to right, #161616, #000000);
  padding: 200px 0;
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.about__heading {
  font-size: 100px;
  margin-bottom: 24px;
  color: #fff;
}

.about__heading span {
  background: #4bc0c8;
  /* fallback for old browsers */
  background: -webkit-linear-gradient( to right, #FEAC5E, #C779D0, #4bc0c8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient( to right, #FEAC5E, #C779D0, #4bc0c8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.about__description {
  font-size: 30px;
  background: #4bc0c8;
  background: -webkit-linear-gradient(to right, #FEAC5E, #C779D0, #4bc0c8);
  background: linear-gradient(to right, #FEAC5E, #C779D0, #4bc0c8);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__btn {
  background: #4bc0c8;
  background: -webkit-linear-gradient(to right, #FEAC5E, #C779D0, #4bc0c8);
  background: linear-gradient(to right, #FEAC5E, #C779D0, #4bc0c8);
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main__btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #C779D0;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover {
  color: #fff;
}

.main__btn:hover:after {
  width: 100%;
}


/*maps*/

.mapss {
  background: transparent;
}

.maps__container {
  height: 100%;
  background-color: transparent;
  top: 0px;
  margin-top: 0px;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

/*.map-wrapper {
  height: 440px;
}*/

#title {
  color: #fff;
  background: linear-gradient(to right, #FEAC5E, #C779D0, #4bc0c8);
  font-size: 3rem;
  font-weight: 500;
  padding: 6px 12px;
  text-align: center;
  position: relative;
}

table {
  font-size: 12px;
}

.doctor-search {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: black;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 20%;
  margin-bottom: 0px;
  width: 100%;
  z-index: -1;
}

#map {
  margin-top: 0px;
  width: 100%;
  height: 440px;
  padding: 90px;
}

#listing {
  width: 200px;
  height: 470px;
  overflow: auto;
  left: 442px;
  top: 50px;
  cursor: pointer;
  overflow-x: hidden;
}

.listing-wrapper{
  padding-top: 1 rem;
}

#no-result {
  font-size: large;
  font-weight: 800;
  text-align: center;
  margin-top: 27px;
  margin-bottom: 12px;
}

#close {
  width: 50px;
  height: 50px;
}

#finddoctors {
  font-size: 17px;
  color: black;
  font-weight: 700;
}

#locationField {
  -webkit-box-flex: 1 1 190px;
  -ms-flex: 1 1 190px;
  flex: 1 1 190px;
  margin: 0 8px;
}

#controls {
  -webkit-box-flex: 1 1 140px;
  -ms-flex: 1 1 140px;
  flex: 1 1 140px;
}

#autocomplete {
  width: 100%;
}

#country {
  width: 100%;
}

.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}

.doctorIcon {
  width: 24px;
  height: 24px;
}

#resultsTable {
  border-collapse: collapse;
  width: 240px;
}

#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}

.iw_table_row {
  height: 18px;
}

.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}

.iw_table_icon {
  text-align: right;
}


/*help section with modal*/

.contact {
  padding: 9rem 0;
  background-color: #131313;
  align-content: center;
}

.help__container {
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0 50px;
  width: 100%;
  max-width: 1290px;
  align-items: center;
  display: grid;
  margin: 0 auto;
  z-index: 1;
}

.help__content {
  width: 100%;
  color: white;
}

.help__content h1 {
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  background-image: linear-gradient(to top, #C779D0 20%, #FEAC5E 60%, #4bc0c8 20%);
  font-size: 4rem;
  margin-bottom: 32px;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  background-color: #4bc0c8;
  background-size: 100%;
  -moz-background-clip: text;
  text-align: center;
}

.modal__btn {
  font-size: 1.8rem;
  background: #FEAC5E;
  background: -webkit-linear-gradient(to right, #FEAC5E, #C779D0, #4bc0c8);
  background: linear-gradient(to right, #FEAC5E, #C779D0, #4bc0c8);
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.modal__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
}

.modal__btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all 0.35s;
  border-radius: 4px;
}

.modal__btn:hover {
  color: #fff;
}

.modal__btn:hover:after {
  width: 100%;
}


/*footer*/

#footer {
  background-color: #000000;
  position: relative;
  height: fit-content;
  clear: both;
  text-align: center;
  padding-top: 20px;
}

.footer__copyright {
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  background-image: linear-gradient(to top, #C779D0 20%, #FEAC5E 60%, #4bc0c8 20%);
  margin-bottom: 12px;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  background-color: #4bc0c8;
  background-size: 100%;
  -moz-background-clip: text;
  text-align: center;
  font-family: "lato", "Roboto", sans-serif;
  font-size: 1rem;
}

#footer__logo {
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  background-image: linear-gradient(to top, #C779D0 20%, #FEAC5E 60%, #4bc0c8 20%);
  font-size: 2rem;
  margin-bottom: 12px;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  background-color: #4bc0c8;
  background-size: 100%;
  -moz-background-clip: text;
  text-align: center;
}

.social-links {
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  background-image: linear-gradient(to top, #C779D0 20%, #FEAC5E 60%, #4bc0c8 20%);
  font-size: 1rem;
  margin-bottom: 12px;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  background-color: #4bc0c8;
  background-size: 100%;
  -moz-background-clip: text;
  text-align: center;
}